{# app/Resources/views/default/userpage.html.twig #}
{% extends "blog/blogtemplate.html" %}
{% block title %}Userbereich{% endblock %}

{% block content %}
    
        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}

        {% for article in articles %}
        <div id="Article">
            <h2><a href="/blog/list/{{ article.id }}">{{ article.title }}</a></h2>
            {{ article.text }}
            <p>
            {% if article.isPublic %}
                <a href="/blog/visibleArticle/{{ article.id }}"  class="w3-btn w3-green">Sichtbar</a>
            {% else %}    
                <a href="/blog/visibleArticle/{{ article.id }}"  class="w3-btn w3-red">Unsichtbar</a>
            {% endif %}

            <a href="/blog/updateArticle/{{ article.id }}"  class="w3-btn w3-blue">Update Article</a>
            <a href="/blog/deleteArticle/{{ article.id }}"  class="w3-btn w3-red">Delete Article</a>
            </p>
        </div>
        {% else %}
            No Article have been found. 
        {% endfor %}
    
{% endblock %}