{# app/Resources/views/blog/articles.html.twig #}
{% extends "blog/blogtemplate.html" %}

{% block title %}Index{% endblock %}


{% block content %}

    {% if articles == false %}
        <p>No Articles have been found.</p>
    {% else %}
        {% for article in articles %}
        <div id="Article">
            <h2><a href="/blog/list/{{ article.id }}">{{ article.title }}</a></h2>
            <p>{{ article.text }}</p>
            {{ article.user.username }}
            <p>
                {% if article.likeIt %}
                    <a href="/blog/likeArticle/{{ article.id }}"  class="btn btn-success">Like</a>
                {% else %}    
                    <a href="/blog/likeArticle/{{ article.id }}"  class="btn btn-warning">none</a>
                {% endif %}
            </p>
        </div>
        {% endfor %}
    {% endif %} 

{% endblock %}