{# app/Resources/views/blog/articles.html.twig #}
{% extends "blog/blogtemplate.html" %}

{% block title %}Index{% endblock %}


{% block content %}

    {% if articles == false %}
        <p>No Articles have been found.</p>
    {% else %}
        {% for article in articles %}
        <div id="Article">
            <h2><a href="/blog/list/{{ article.id }}">{{ article.title }}</a></h2>
            <p> 
                {{ article.text }}
            </p>
            
            <p>
                {{ article.user.username }}
            </p>            

    <p>
        {% if article.id in likes %}
            <a href="/blog/likeArticle/{{ article.id }}/{{ "delete" }}" class="btn btn-danger">Liked 	&#9829;</a> {{  article.likedArticle|length }}
        {% else %}
            <a href="/blog/likeArticle/{{ article.id }}/{{ "setlike" }}" class="btn btn-outline-dark">Like 	&#9825;</a>  {{  article.likedArticle|length }}
        {% endif %}
    </p>

        </div>
        {% endfor %}
    {% endif %} 

{% endblock %}